@charset "UTF-8";
html {
  font-family: monospace;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  height: 100vh;
  max-width: 900px;
  display: grid;
  margin: 0 auto;
  padding: 0.5em;
  grid-template-rows: min-content min-content;
  grid-row-gap: 0.5em;
  box-sizing: border-box;
}

#header {
  position: relative;
  font-size: 1.6em;
}
#header .infos {
  display: grid;
  grid-template-columns: auto auto min-content min-content;
  grid-gap: 0.5em;
}
#header .infos .start-btn {
  height: 1em;
  width: 80px;
  text-align: center;
  padding: 0.2em;
  background-color: #2196f3;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 1px 1px 3px #212121;
}
#header .infos .menu-btn {
  height: 1em;
  width: 1em;
  padding: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2196f3;
  cursor: pointer;
  box-shadow: 1px 1px 3px #212121;
}
#header .infos .menu-btn .line, #header .infos .menu-btn:before, #header .infos .menu-btn:after {
  content: "";
  display: block;
  height: 0.2em;
  width: 1em;
  background-color: #ffffff;
  transition: 0.1s linear;
}
#header .options {
  display: grid;
  transform: scaleY(0);
  transform-origin: top right;
  transition: 0.1s linear;
  position: absolute;
  right: 0;
  margin-top: 0.5em;
  padding: 0.5em;
  background-color: #2196f3;
  color: #ffffff;
  grid-auto-flow: row;
  grid-gap: 0.5em;
  justify-content: space-evenly;
  box-shadow: 1px 1px 3px #212121;
}
#header .options .operator {
  display: flex;
  justify-content: space-between;
}
#header .options .labeled-input {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.2em;
  justify-content: space-between;
}
#header .options input,
#header .options select {
  cursor: pointer;
}
#header .options input[type=checkbox] {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 2.3em;
  width: 2.3em;
  margin: 0;
  color: #dddddd;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px #212121;
}
#header .options input[type=checkbox]:checked {
  color: #212121;
}
#header .options input[type=checkbox]::after {
  font-size: 2em;
  font-weight: bold;
}
#header .options input[type=checkbox]:checked::after {
  content: "✓";
}
#header .options input[type=checkbox]:focus {
  outline: none;
}
#header .options input[type=checkbox].plus::after {
  content: "+";
}
#header .options input[type=checkbox].minus::after {
  content: "−";
}
#header .options input[type=checkbox].multiply::after {
  content: "×";
}
#header .options input[type=checkbox].divide::after {
  content: "÷";
}
#header .options input[type=number] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: -moz-fit-content;
  height: fit-content;
  width: 3em;
  border: 0px;
  padding: 0;
  font-size: 1em;
  box-shadow: 1px 1px 3px #212121;
  text-indent: 0.1em;
}
#header .options input[type=number]:focus {
  outline: none;
}
#header .options select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: -moz-fit-content;
  height: fit-content;
  width: 1.6em;
  border: 0px;
  padding: 0;
  font-size: 1em;
  text-indent: 0.1em;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px #212121;
}
#header .options select:focus {
  outline: none;
}
#header .options input:disabled {
  background-color: #dddddd;
  cursor: default;
}
#header .options .copyright {
  text-align: right;
  font-size: 0.5em;
}
#header .options .copyright a {
  text-decoration: none;
  color: #ffffff;
}
#header.open-options .menu-btn:before {
  transform: translate(0, 200%) rotate(45deg);
}
#header.open-options .menu-btn .line {
  display: none;
}
#header.open-options .menu-btn:after {
  transform: translate(0, -200%) rotate(-45deg);
}
#header.open-options .options {
  transform: scaleY(1);
}

#calculation {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1em;
  font-size: 3em;
  justify-content: center;
  padding: 0.5em 0;
  transition: 0.1s background-color linear;
}
#calculation.correct {
  background-color: #4caf50;
}
#calculation.failure {
  background-color: #f44336;
}
#calculation div {
  box-sizing: border-box;
  text-align: center;
}
#calculation div.search {
  box-shadow: 1px 1px 3px #212121;
  word-break: break-all;
  cursor: pointer;
}
#calculation .fake-input {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  opacity: 0;
}

#history {
  overflow: auto;
  padding: 0.5em 0;
}
#history .content {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit, 160px);
  grid-gap: 0.5em;
  align-content: start;
  font-size: 1.6em;
}
#history .content .item {
  display: flex;
  width: auto;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  gap: 0.2em;
}
#history .content .item .index {
  box-shadow: 1px 1px 3px #212121;
}
#history .content .item .calculation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
#history .content .item .calculation div {
  word-break: break-all;
}
#history .content .item .calculation .search {
  text-decoration: underline;
  text-decoration-color: #ffc107;
}
#history .content .item.correct .index {
  background-color: #4caf50;
}
#history .content .item.correct .calculation .search {
  text-decoration-color: #4caf50;
  text-decoration-style: double;
}
#history .content .item.failure .index {
  background-color: #f44336;
}
#history .content .item.failure .calculation .search {
  text-decoration-color: #f44336;
  text-decoration-style: dotted;
}

#dialog {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}
#dialog .container {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-gap: 0.5em;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px #212121;
  margin: 0 0.5em;
  font-size: 1.2em;
  transform: translate(0, 0) scale(1);
  transform-origin: top right;
  transition: 0.1s linear;
}
#dialog .container.hidden {
  transform: translate(0, -50vh) scale(0);
}
#dialog .container .header {
  display: flex;
  align-items: center;
  background-color: #2196f3;
  color: #ffffff;
  padding: 0 0.5em;
  font-weight: bold;
  text-transform: uppercase;
}
#dialog .container .content {
  margin: 0 0.5em;
  text-align: center;
}
#dialog .container .content .input {
  display: block;
  margin: 0.5em auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: -moz-fit-content;
  height: fit-content;
  border: 0px;
  padding: 0;
  font-size: 1em;
  box-shadow: 1px 1px 3px #212121;
  text-indent: 0.1em;
}
#dialog .container .content .input:focus {
  outline: none;
}
#dialog .container .footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
  margin: 0.5em;
  margin-top: 0;
}
#dialog .container .footer .button {
  display: flex;
  align-items: center;
  background-color: #2196f3;
  color: #ffffff;
  padding: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 1px 1px 3px #212121;
}